/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.headerNav {
  height: 100px; }

.headerText {
  width: 230px;
  display: inline-block;
  float: left;
  padding: 36px 6% 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1.4;
  font-size: 14px;
  color: #f5f5f5; }

.hero {
  background-image: url("hero.jpg");
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 60px; }

.hero a {
  text-decoration: none;
  transition: color .7s; }

.hero a:hover {
  color: #ffae00; }

.heroText {
  width: 75%;
  padding: 40px 0 40px 6%;
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffae00; }

.notHome {
  font-size: 24px; }

.whitebar {
  height: 5px;
  width: 100%;
  background-color: white;
  margin: 20px 0px; }

.whitebar:last-of-type {
  width: 110px;
  margin: 10px 0px 30px 6%; }

@media only screen and (min-width: 760px) {
  .whitebar:last-of-type {
    width: 135px;
    height: 8px; }

  .headerText {
    font-size: 18px; }

  .heroText {
    width: 58%;
    padding-top: 100px;
    font-size: 72px; }

  .notHome {
    font-size: 36px;
    width: 84%; }

  .navBar {
    height: 100%;
    display: inline-block !important;
    float: right; }

  .navList {
    display: flex; }

  .navList li {
    display: flex;
    flex-direction: column-reverse; }

  .navLink {
    position: relative;
    top: -90px;
    left: -40px;
    padding: 40px 20px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    line-height: 1.6;
    color: #f5f5f5; }

  .active {
    color: #ffae00; } }
.homeSectionHeader {
  padding: 0px 6% 5px 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 21px;
  line-height: 1.7;
  font-weight: bold; }

.sectionHeader {
  padding: 30px 6% 5px 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold; }

.makeBigger {
  font-size: 21px; }

.sectionContent {
  padding: 0 6% 28px 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 16px;
  line-height: 1.5; }

.sectionContent strong {
  font-weight: bold; }

.bgColor {
  background-color: #ebebeb;
  width: 100%; }

.sessPad {
  padding: 30px 0; }

.sessHead {
  padding-top: 0; }

.iNeedSpace {
  padding-top: 50px; }

.goldenText {
  padding: 10px 6% 5px;
  font-family: "Montserrat", sans-serif;
  color: #ffae00;
  font-size: 21px;
  line-height: 1.7; }

.logoContainer {
  padding: 30px 6% 20px; }

.logoPic {
  padding: 0 10px;
  height: 90px;
  width: auto; }

.yellowBar {
  height: 2px;
  width: 88%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffae00; }

.scheduleChange {
  padding: 40px 6% 10px 6%;
  font-family: "Montserrat", sans-serif;
  color: #101010;
  font-size: 13px;
  line-height: 1.6;
  font-weight: 500; }

.sessCon {
  padding-bottom: 0px; }

.tixHeader {
  padding: 15px 6%;
  font-family: "Montserrat", sans-serif;
  color: #101010;
  font-size: 21px;
  line-height: 1.6;
  font-weight: 500; }

.bigHeader {
  font-size: 24px; }

.tixPrice {
  padding: 0 6% 30px 6%;
  font-family: "Lora", serif;
  color: #d08e01;
  font-size: 21px;
  line-height: 1.6; }

.sponsorInfo {
  padding: 15px 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 18px;
  line-height: 1.5; }

.sponsorInfo li {
  padding: 6px 0; }

.aboutInfo {
  padding: 0 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 18px;
  line-height: 1; }

.formHeader {
  padding: 0 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 18px;
  line-height: 2; }

.buildingPic {
  width: 100%; }

.aboutForm {
  margin: 0 auto;
  margin: 5px 6%;
  padding: 10px 0px;
  width: 85%;
  border: .5px solid black; }

.aboutMassage {
  height: 180px;
  resize: none; }

@media only screen and (min-width: 760px) {
  .browserContent h3, .browserContent p, .browserContent h5 {
    float: right;
    width: 52%; }

  .inline {
    display: inline-block; }

  .logoPic {
    padding-right: 40px; }

  .conSponsor h3, .conSponsor p {
    padding-left: 0; }

  .conSponsor {
    width: 45%;
    padding-left: 6%; }

  .browserContent {
    overflow: hidden;
    padding-bottom: 60px; } }
.mapSection {
  background-color: #ffae00; }

.mapHeader {
  padding: 40px 6% 10px 6%;
  font-family: "Montserrat", sans-serif;
  color: #101010;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 500; }

.localHeader {
  padding: 20px 6% 0 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold; }

.mapContent {
  padding: 0 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 16px;
  line-height: 1.5; }

.mapContent:last-of-type {
  padding-bottom: 30px; }

.location {
  font-size: 18px; }

.footerBG {
  background-color: #313131; }

.footerBold {
  padding: 60px 6% 10px 6%;
  font-family: "Montserrat", sans-serif;
  color: #ebebeb;
  font-size: 18px;
  line-height: 1; }

.footerContent {
  padding: 10px 6% 0;
  font-family: "Lora", serif;
  color: #ebebeb;
  font-size: 15px;
  line-height: 1.6; }

.footerContent a {
  color: #ebebeb; }

.footerBold:last-of-type {
  padding-bottom: 100px; }

@media only screen and (min-width: 761px) {
  .hamburger, .cross {
    display: none; } }
@media only screen and (max-width: 760px) {
  body {
    margin: 0;
    width: 100%; }

  header {
    width: 100%; }

  .hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 36px 6% 0px;
    color: #f5f5f5;
    border: 0;
    font-size: 4em;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000; }

  .cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 36px 6% 0px;
    color: #f5f5f5;
    border: 0;
    font-size: 9em;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000; }

  .menu {
    z-index: 1000000;
    font-size: 21px;
    width: 100%;
    background-color: #ffae00;
    position: absolute;
    text-align: left;
    font-family: "Montserrat", sans-serif; }

  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none; }

  .menu li {
    display: block;
    padding: 15px 0px 15px 30px;
    border-bottom: #101010 1px solid; }

  .menu li:hover {
    display: block;
    background: #d08e01;
    padding-left: 30px;
    border-bottom: #101010 1px solid; }

  .menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #101010; }

  .menu ul li a:hover {
    color: #101010;
    text-decoration: none; }

  .menu a {
    text-decoration: none;
    color: #666; }

  .menu a:hover {
    text-decoration: none;
    color: #666; }

  header {
    display: inline-block;
    font-size: 12px; }

  span {
    padding-left: 20px; }

  a {
    color: #101010; } }
.counter_ticket_container {
  position: relative;
  top: -50px; }

.counter {
  width: 280px;
  height: 200px;
  margin: 0 auto;
  background-color: #ffae00; }

.counter p {
  padding: 8px;
  color: #f5f5f5;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold; }

.counter p:last-of-type {
  font-weight: normal;
  font-size: 21px; }

.ticketButton {
  width: 280px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #d08e01; }

.ticketButton p {
  padding: 40px 20px 0px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f5f5f5; }

.buyTickets {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  background-color: #f5f5f5;
  border: none; }

.buyTickets a {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffae00;
  text-decoration: none; }

.goldButton {
  width: 280px;
  height: 60px;
  background-color: #ffae00;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  border: none; }

.goldButton a {
  padding: 15px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold;
  text-align: center; }

.aboutButton {
  border: none;
  margin: 30px 6% 60px 41%;
  display: block;
  width: 50%; }

.homeButton {
  position: relative;
  top: -50px; }

@media only screen and (min-width: 760px) {
  .counter {
    height: 140px;
    width: 58%; }

  .counter p {
    padding: 5% 50px 10px 50%;
    font-size: 24px;
    font-weight: bold; }

  .counter p:last-of-type {
    padding-top: 0px;
    font-weight: normal; }

  .ticketButton {
    width: 300px; }

  .homeButton {
    position: fixed;
    padding-left: 6%;
    bottom: 0;
    left: 0;
    top: 0; }

  .goldButton {
    float: right;
    margin: 0;
    vertical-align: top;
    margin: 50px 6%; } }
.container {
  min-width: 320px;
  width: 100%; }

@media only screen and (min-width: 760px) {
  .container {
    min-width: 760px;
    max-width: 1600px;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
