/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.headerText {
  padding: 24px 0 10px 4%;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1.4;
  color: #f5f5f5; }

.hero {
  background-image: url("hero.jpg");
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 60px; }

.hero h1 {
  width: 75%;
  padding: 40px 0 40px 6%;
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: bold;
  color: #ffae00; }

.notHome {
  font-size: 24px; }

.whitebar {
  height: 5px;
  width: 100%;
  background-color: white; }

.whitebar:last-of-type {
  width: 32%;
  margin: 10px 0px 30px 6%; }

.sectionHeader {
  padding: 30px 6% 5px 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold; }

.makeBigger {
  font-size: 21px; }

.sectionContent {
  padding: 0 6% 28px 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 16px;
  line-height: 1.5; }

.bgColor {
  background-color: #ebebeb; }

.sessPad {
  padding: 30px 0; }

.sessHead {
  padding-top: 0; }

.goldenText {
  padding: 0 6%;
  font-family: "Montserrat", sans-serif;
  color: #ffae00;
  font-size: 21px;
  line-height: 1.7; }

.scheduleChange {
  padding: 40px 6% 10px 6%;
  font-family: "Montserrat", sans-serif;
  color: #101010;
  font-size: 13px;
  line-height: 1.6;
  font-weight: 500; }

.sessCon {
  padding-bottom: 0px; }

.tixHeader {
  padding: 10px 6%;
  font-family: "Montserrat", sans-serif;
  color: #101010;
  font-size: 21px;
  line-height: 1.6;
  font-weight: 500; }

.tixPrice {
  padding: 0 6% 30px 6%;
  font-family: "Lora", serif;
  color: #d08e01;
  font-size: 21px;
  line-height: 1.6; }

.mapSection {
  background-color: #ffae00; }

.mapHeader {
  padding: 40px 6% 10px 6%;
  font-family: "Montserrat", sans-serif;
  color: #101010;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 500; }

.localHeader {
  padding: 20px 6% 0 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold; }

.mapContent {
  padding: 0 6%;
  font-family: "Lora", serif;
  color: #101010;
  font-size: 16px;
  line-height: 1.5; }

.mapContent:last-of-type {
  padding-bottom: 30px; }

.location {
  font-size: 18px; }

.footerBG {
  background-color: #313131; }

.footerBold {
  padding: 60px 6% 10px 6%;
  font-family: "Montserrat", sans-serif;
  color: #ebebeb;
  font-size: 18px;
  line-height: 1; }

.footerContent {
  padding: 10px 6% 0;
  font-family: "Lora", serif;
  color: #ebebeb;
  font-size: 15px;
  line-height: 1.6; }

.footerBold:last-of-type {
  padding-bottom: 100px; }

.container {
  width: 320px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
