@import "variables";

.counter_ticket_container{
  position: relative;
  top: -50px;
}

.counter{
  width: 280px;
  height: 200px;
  margin: 0 auto;

  background-color: $yellowish;
}

.counter p{
  padding: 8px;
  color: $off_white;
  text-align: center;
  font-family: $mont;
  font-size: 18px;
  font-weight: bold;
}

.counter p:last-of-type{
  font-weight: normal;
  font-size: 21px;
}

.ticketButton{
  width: 280px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;

  background-color: $sick_yellow;
}

.ticketButton p{
  padding: 40px 20px 0px;
  margin-bottom: 30px;

  font-family: $mont;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $off_white;
}

.buyTickets{
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  background-color: $off_white;
  border: none;
}

.buyTickets a{
  margin: 0 auto;
  font-family: $mont;
  font-size: 18px;
  font-weight: bold;
  color: $yellowish;
  text-decoration: none;
}

.goldButton{
  width: 280px;
  height: 60px;
  background-color: $yellowish;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  border: none;
}

.goldButton a{
  padding: 15px;
  text-decoration: none;
  @include text($mont, $off_white, 18px, 1.7);
  font-weight: bold;
  text-align: center;
}

.aboutButton{
  border: none;
  //needs fixed, float right was giving me issues
  margin: 30px $mobile 60px 41%;
  display: block;
  width: 50%;
}

.homeButton{
  position: relative;
  top: -50px;
}

@media only screen and (min-width: 760px){
  .counter{
    height: 140px;
    width: 740px;
  }

  .counter p{
    // padding: 5% 50px 10px 50%;
    font-size: 24px;
    font-weight: bold;
    color: $off_white;
    width: 45%;
    display: inline-block;
    float: right;
    vertical-align: top;
    padding: 50px 50px 0 0;
  }

  .counter p:last-of-type{
    padding-top: 0px;
    font-weight: normal;
  }

  .ticketButton{
    width: 300px;
    height: 200px;
    margin-top: 0;
  }

  .homeButton, .buyTix{
    // position: fixed;
    padding-left: $mobile;
    bottom: 0;
    left: 0;
    top: 0;
    width: 300px;
    float: left;
  }

  .goldButton{
    float: right;
    margin: 0;
    vertical-align: top;
    margin: 50px $mobile;
  }

  .tixButton{
    float: left;
    width: 170px;
  }

  .sponsorButton{
    margin-top: 0;
  }

  .submitButton{
    float: left;
    color: $off_white;
    font-weight: bold;
    font-size: 18px;
  }

  .inlineButton{
    display: inline;
  }

}
