@import "variables";


// Takes in font variable, color variable, font size, and line height
@mixin text($font, $color, $size, $height){
  font-family: $font;
  color: $color;
  font-size: $size;
  line-height: $height;
}

.homeSectionHeader{
  padding: 0px $mobile 5px $mobile;

  @include text($lora, $black_text, 21px, 1.7);
  font-weight: bold;
}

.sectionHeader{
  padding: 30px $mobile 5px $mobile;

  @include text($lora, $black_text, 18px, 1.7);
  font-weight: bold;
}

.makeBigger{
  font-size: 21px;
}

.sectionContent{
  padding: 0 $mobile 28px $mobile;

  @include text($lora, $black_text, 16px, 1.5);
}

.sectionContent strong{
  font-weight: bold;
}

.bgColor{
  background-color: $grayish;
  width: 100%;
}

//Adds padding between the different sessions on the sessions page
.sessPad{
  padding: 30px 0;
}

//Formats the last 3 events of the session page
.sessHead{
  padding-top: 0;
}

.iNeedSpace{
  padding-top: 50px;
}

.goldenText{
  padding: 10px $mobile 5px;

  @include text($mont, $yellowish, 21px, 1.7);
}

.logoContainer{
  padding: 30px $mobile 20px;
}

.logoPic{
  padding: 0 10px;

  height: 90px;
  width: auto;
}

.yellowBar{
  height: 2px;
  width: 88%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;

  background-color: $yellowish;
}

.scheduleChange{
  padding: 40px $mobile 10px $mobile;

  @include text($mont, $black_text, 13px, 1.6);
  font-weight: 500;
}

//Remove the padding for the content within each session/event
.sessCon{
  padding-bottom: 0px;
}

.tixHeader{
  padding: 15px $mobile;

  @include text($mont, $black_text, 21px, 1.6);
  font-weight: 500;
}

.bigHeader{
  font-size: 24px;
}

.tixPrice{
  padding: 0 $mobile 30px $mobile;

  @include text($lora, $sick_yellow, 21px, 1.6);
}

.sponsorInfo{
  padding: 15px $mobile;

  @include text($lora, $black_text, 18px, 1.5);
}

.sponsorInfo li{
  padding: 6px 0;
}

.aboutInfo{
  padding: 0 $mobile;

  @include text($lora, $black_text, 18px, 1);
}

.formHeader{
  padding: 0 $mobile;

  @include text($lora, $black_text, 18px, 2);
}

.buildingPic{
  width: 100%;
}

.aboutForm{
  margin: 0 auto;
  margin: 5px $mobile;
  padding: 10px 0px;
  width: 85%;
  border: .5px solid black;
}

.aboutMassage{
  height: 180px;
  resize: none;
}

.mobileHide{
  display:none;
}

.sponsorInfo li{
  list-style-type: disc;
}

.makeBold{
  font-weight: bold;
}

.ticketForm{
  height: 50px;
  width: 100px;
  border: 1px solid black;
  border-radius: 0px;
  margin-left: $mobile;

  @include text($mont, $black_text, 24px, 1);
  padding: 10px 25px;
}

.totalBox{
  height: 55px;
  width: 170px;
  border: 1px solid black;
  float: right;
  margin-right: $mobile;
  display: inline;
  margin-bottom: 50px;
  // margin: 30px $mobile 50px 0;
}

.totalHeader{
  display: inline;
  width: 50%;
  padding-left: $mobile;
  padding-top: 20px;
  @include text($mont, $black_text, 21px, 1.6);
  font-weight: 500;
}

@media only screen and (min-width: 760px){

  .browserContent h3, .browserContent p, .browserContent h5, .browserContent li{
    float: right;
    width: 52%;
  }

  .inline{
    display: inline-block;
  }

  .block{
    display: block;
  }

  .logoPic{
    padding-right: 40px;
  }

  .conSponsor h3, .conSponsor p{
    padding-left: 0;
  }

  .conSponsor{
    width: 45%;
    padding-left: $mobile;
  }

  .browserContent{
    overflow: hidden;
    padding-bottom: 60px;

  }

  .ticketOverview{
    font-size: 21px;
    width: 60%;
  }

  .ticketContent{
    font-family: $mont;
    width: 66%;
    font-size: 21px;
  }

  .ticketContent p{
    font-weight: 500;
  }

  .tixContainer{
    margin-bottom: 50px;
  }

  .purchaseTick{
    height: 300px;
  }

  .sponsorPDF{
    display: none;
  }

  .sponsorNav{
    text-decoration: none;
    padding: 30px $mobile 10px $mobile;

    @include text($lora, $black_text, 18px, 1.7);
    font-weight: bold;
  }

  .sponsorTable{
    display: block;
    padding: 75px 0 20px 0;
  }

  .sponsorTable h3{
    @include text($mont, $black_text, 24px, 1.6);
    font-weight: 500;
    padding-bottom: 15px;
    padding-left: $mobile;
  }

  .sponsorTable td{
    @include text($lora, $black_text, 16px, 1.5);
    padding-bottom: 10px;
    padding-left: $mobile;
  }

  .additionalSponsorInfo{
    width: 35%;
    padding: 0 0 80px $mobile;
    @include text($lora, $black_text, 14px, 1);
    font-style: italic;
  }

  .sponsorInfoHidden{
    @include text($lora, $black_text, 16px, 1.5);
  }


}
