@import "variables";


// Takes in font variable, color variable, font size, and line height
@mixin text($font, $color, $size, $height){
  font-family: $font;
  color: $color;
  font-size: $size;
  line-height: $height;
}

.sectionHeader{
  padding: 30px $mobile 5px $mobile;

  @include text($lora, $black_text, 18px, 1.7);
  font-weight: bold;
}

.makeBigger{
  font-size: 21px;
}

.sectionContent{
  padding: 0 $mobile 28px $mobile;

  @include text($lora, $black_text, 16px, 1.5);
}

.sectionContent strong{
  font-weight: bold;
}

.bgColor{
  background-color: $grayish;
}

//Adds padding between the different sessions on the sessions page
.sessPad{
  padding: 30px 0;
}

//Formats the last 3 events of the session page
.sessHead{
  padding-top: 0;
}

.goldenText{
  padding: 0 $mobile;

  @include text($mont, $yellowish, 21px, 1.7);
}

.scheduleChange{
  padding: 40px $mobile 10px $mobile;

  @include text($mont, $black_text, 13px, 1.6);
  font-weight: 500;
}

//Remove the padding for the content within each session/event
.sessCon{
  padding-bottom: 0px;
}

.tixHeader{
  padding: 10px $mobile;

  @include text($mont, $black_text, 21px, 1.6);
  font-weight: 500;
}

.tixPrice{
  padding: 0 $mobile 30px $mobile;

  @include text($lora, $sick_yellow, 21px, 1.6);
}

.sponsorInfo{
  padding: 15px $mobile;

  @include text($lora, $black_text, 18px, 1.5);
}

.sponsorInfo li{
  padding: 6px 0;
}
