@import "variables";

@mixin text($font, $color, $size, $height){
  font-family: $font;
  color: $color;
  font-size: $size;
  line-height: $height;
}

.footerBG{
  background-color: $footerBG;
}

.footerBold{
  padding: 60px $mobile 10px $mobile;
  @include text($mont, $grayish, 18px, 1);
}

.footerContent{
  padding: 10px $mobile 0;
  @include text($lora, $grayish, 15px, 1.6);
}

.footerContent a{
  color: $grayish;
}

.footerBold:last-of-type{
  padding-bottom: 100px;
}

@media only screen and (min-width: 760px) {

  .footerBG{
    width: 100%;
    background-color: $footerBG;
  }

  .footerFirst{
    display: inline-block;
    width: 40%;
  }
  .footerSecond{
    display: inline-block;
    float: right;
    width: 36%;
  }

  .footerBold{
     padding: 0;
     vertical-align: top;
   }

  .footerBold:last-of-type{
    padding-top: 100px;
    padding-bottom: 0;
  }

  .footerBrowser{
    padding-top: 100px;
  }

  .footerContent{
    padding-left: 0;
  }
  
  .footerFirst{
    padding-left: $mobile;
  }

  .footerBb
  {
    padding-bottom: 130px;
  }
}
