@import "variables";

// Takes in font variable, color variable, font size, and line height
@mixin text($font, $color, $size, $height){
  font-family: $font;
  color: $color;
  font-size: $size;
  line-height: $height;
}

.mapSection{
  height: 570px;
}

.mapText{
  background-color: $yellowish;
  height: 100%;
}
.mapHeader{
  padding: 75px $mobile 10px $mobile;
  @include text($mont, $black_text, 21px, 1.4);
  font-weight: 500;
}

.localHeader{
  padding: 20px $mobile 0 $mobile;
  @include text($lora, $black_text, 18px, 1.4);
  font-weight: bold;
}

.mapContent{
  padding: 0 $mobile;
  @include text($lora, $black_text, 16px, 1.5);
}

.mapContent:last-of-type{
  padding-bottom: 30px;
}

.location{
  font-size: 18px;
}

.mapContainer{
  height: 370px;
  width: 100%;
  background-color: grey;
  display: block;
}

@media only screen and (min-width: 760px){
  .mapContainer{
    width: 60%;
    display: inline;
    float: right;
    height: 100%;
  }

  .mapText{
    width: 40%;
    display: inline-block;
    float: left;
  }
}
