// Contains all the colors and fonts used throughout the website


// Colors

// Header text, counter text, button text
$off_white: #f5f5f5;

//Hero text, counter background, sponsor header, map background
$yellowish: #ffae00;

//Button button background
$sick_yellow: #d08e01;

//Content text
$black_text: #101010;

//Content background, footer text
$grayish: #ebebeb;

//Footer background color
$footerBG: #313131;


//Fonts
$mont: 'Montserrat', sans-serif;
$lora: 'Lora', serif;

//Mobile Margin
$mobile: 6%;
